.buttonCustomWarning {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #F9CF7C, #E9A740);
  box-shadow: 0 0 24px #ffb20861;
  border: 2px solid #E9A740;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 0px;
  color: #09090b;
  /* font-weight: bold; */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  /* display: inline-block; */
}

.buttonCustomWarning:hover {
  background-color: #ffc75d;
  box-shadow: 0 0 12px #bf7600;
  text-shadow: 0 0 4px #ffe825; /* Hover text shadow */
  border-color: #E9A740;
}

.buttonCustomPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #3284ff, #0d6efd);
  border: 2px solid #3284ff;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomPrimary:hover {
  background-color: #2551A3;
  box-shadow: 0 0 12px #002a6a;
  text-shadow: 0 0 4px #488ef8; /* Hover text shadow */
  border-color: #0d6efd;
}

.buttonCustomSecondary {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #858a8e, #6c757d);
  border: 2px solid #858a8e;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomSecondary:hover {
  background-color: #808991;
  box-shadow: 0 0 12px #586066;
  text-shadow: 0 0 4px #9ea8b1; /* Hover text shadow */
  border-color: #6c757d;
}

.buttonCustomSuccess {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #379569, #198754);
  border: 2px solid #198754;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomSuccess:hover {
  background-color: #49a178;
  box-shadow: 0 0 12px #005930;
  text-shadow: 0 0 4px #55bb8b; /* Hover text shadow */
  border-color: #198754;
}

.buttonCustomDanger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #e14e5c, #dc3545);
  border: 2px solid #dc3545;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomDanger:hover {
  background-color: #f43b4d;
  box-shadow: 0 0 12px #841a24;
  text-shadow: 0 0 4px #ff5465; /* Hover text shadow */
  border-color: #dc3545;
}


.buttonCustomInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #3edfff, #0dcaf0);
  border: 2px solid #02d5ff;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomInfo:hover {
  background-color: #31d2f2;
  box-shadow: 0 0 12px #01819b;
  text-shadow: 0 0 4px #33ddff; /* Hover text shadow */
  border-color: #0dcaf0;
}

.buttonCustomLight {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #ffffff, #f8f9fa);
  border: 2px solid #f8f9fa;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: #09090b;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomLight:hover {
  background-color: #c6c7c8;
  box-shadow: 0 0 12px #686868;
  text-shadow: 0 0 4px #f8f9fa; /* Hover text shadow */
  border-color: #e6e6e7;
}

.buttonCustomDark {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: linear-gradient(45deg, #292e33, #212529);
  border: 2px solid #212529;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    text-shadow 0.3s ease;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(153, 153, 153, 0.3); /* Text drop shadow */
  display: inline-block;
}

.buttonCustomDark:hover {
  background-color: #424649;
  box-shadow: 0 0 12px #686868;
  text-shadow: 0 0 4px #848484; /* Hover text shadow */
  border-color: #373b3e;
}

/* .buttonCustomPrimary{
  width: 50%;
  height: 37px;
} */

/* .buttonCustomInfo{
  width: 100%;
  height: 40px;
} */

.alert-success{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #EDFBD8;
    border-radius: 8px;
    border: 2px solid #84D65A;
    box-shadow: 0px 0px 5px -3px #EDFBD8;
    box-shadow: inset 0px 2px 0px 0px #EDFBD8,0px 7px 24px 0px #84D65A;
  }

 .text-danger{
  width: 100%;
  padding: 1px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #ea908a;
  border-radius: 8px;
  border: 1px solid #EF665B;
  box-shadow: 0px 0px 8px 2px #EF665B;


 }


 .content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  position: relative;
  background: rgba(16, 232, 203);
  color: white;
  width: 100%;
  height: 40vh;
  margin-top: -17px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero h2 {
  position: relative;
  z-index: 1;
  font-size: 4.5rem;
  margin: 0 0 10px;
  line-height: 1;
  color: rgba(238, 141, 93, 0.942);
}

.hero p{
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  width: 70%;
  padding-right: 20px;
  line-height: 1;
  color: #2e06dfef;
  box-sizing: b;
}

.hero .buttonHero{
    position: relative;
    z-index: 1;
    width: 20%;
    height: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .buttonHero:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  .buttonHero:hover .icon {
    transform: translate(4px);
  }

  .buttonHero:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .buttonHero::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }


.waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 00px;
  /* background-color: rgba(93, 223, 12, 0.882); */
  box-shadow: inset 0 0 50px rgba(231, 234, 236, 0.882);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: '';
  position: absolute;
  width: 200vw;
  height: 300vw;
  top: -50vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(23, 219, 193, 0.7);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(231, 235, 235, 0.637);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

.buttonRevisor{
    display: flex;
    width: 40vh;
    margin-left: -20%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(45deg, #3284ff, #0d6efd);
    border: 2px solid #3284ff;
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease,
      text-shadow 0.3s ease;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Text drop shadow */
    display: inline-block;
  }
  
  .buttonRevisor:hover {
    background-color: #2f7ef4;
    box-shadow: 0 0 12px #002a6a;
    text-shadow: 0 0 4px #488ef8; /* Hover text shadow */
    border-color: #0d6efd;
  }