.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }
  
  .button:hover .icon {
    transform: translate(4px);
  }
  
  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  
  .button1 {
    all: unset;
    display: flex;
    align-items:center;
    position: relative;

    width: 5vh;
    height: 0.5vh;
    padding: 0.6em 2em;
    border:  rgb(250, 104, 0) solid 0.15em;
    border-radius: 0.25em;
    color:  black;
    font-size: 1.5em;
    font-weight: 400;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .button1 p {
    z-index: 1;
  }
  
  .button1:hover {
    color: #212121;
  }
  
  .button1:active {
    border-color:  rgb(250, 104, 0);
  }
  
  .button1::after, .button::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: rgb(250, 104, 0);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .button1::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .button1::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .button1:hover:before {
    transform: translateX(-1em);
  }
  
  .button1:hover:after {
    transform: translateX(1em);
  }
  
  .button1:active:before,
  .button1:active:after {
    background: teal;
  }