/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

:root {
    --primary: #10E8CB;
    --secondary: #81FCFA;
    --tertiary: #EBEFEF;
    --accent: #E32740;
    --white: #EEF5FF;
}

.primary-bg {
    background-color: var(--primary);
}

.secondary-bg {
    background-color: var(--secondary);
}

.tertiary-bg {
    background-color: var(--tertiary);
}

.accent-bg {
    background-color: var(--accent);
}

body {
    background-color: var(--white) ;
}